{
  "extends": "eslint-config-lovata/.stylelintrc",
  "rules": {
    "csstools/value-no-unknown-custom-properties": [true, {
      "importFrom": [
        "./themes/{{ THEME_NAME }}/css/variables.css"
      ]
    }
  }
}
